body {
  background-color: black;
}

.board {
  display: flex;
  flex-flow: row wrap;
}

.grid {
  flex: 0 0 33%;
  border: 1px solid black;
  min-height: 30vh;
  background-color: gray;
  font-size: 1000%;
}

#overlay {
  display: flex;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid green;
  width: 30vw;
  height: 30vh;
  background-color: black;
}
