body {
  background-color: black;
  color: bisque;
}

.board {
  display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  min-width: 60%;
  margin: 20%;
  margin-top: 0%;
}

.grid {
  border: 1px solid black;
  min-height: 20vh;
  min-width: 1%;
  background-color: gray;
  font-size: 900%;
  text-align: center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: flex;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
  vertical-align: super;
}

#box {
  z-index: 1;
  width: 200px;
  height: 200px;
  background-color: aqua;
}

#header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}
#winCounters{
  padding-bottom: 1rem;
}
#button{
  margin-bottom: 1rem;
}
#turn{
  padding-bottom: 1rem;
}